@model RockSaltRunning.TimeTrial.Web.Models.LeaderboardViewModel
<div class="row">
    <div class="col-md-12">
        <h2 id="tables-bordered">Leaderboard</h2>
        <div class="bs-example" data-example-id="bordered-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var result in Model.Results)
                        {
                            <tr>
                                <td>@result.Position</td>
                                <td>
                                    @Html.ActionLink(@result.Name, "Index", "Athletes", new { id = @result.Id }, new { })
                                </td>
                                <td>@result.Time</td>
                                <td>@result.Date</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}